<div class="about-me">
    <div class="doble">
         <img class="img" src="{{ data.avatar_url }}" alt="" />

       <div class="col">
           <br><br>
           <h3>{{ data.name }}</h3>
           <h3>Materia: Lab 4</h3>
            <br>
           <p>Seguidores: {{data.followers}}</p>
           <p>Siguiendo: {{data.following}}</p>
           <p>Repositorios: {{data.public_repos}}</p>
           <!-- <p>Ultima actualizacion: {{data.updated_at}}</p> -->
       </div>
     </div>
   </div>

