<div class="container ">
  <div class="py-3 text-center border-bottom">
    <h2 class="py-3 ">Alta Producto</h2>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4" >
      <app-tabla-paises  (eventoPaisSeleccionado)="cargarPaisSeleccionado($event)"></app-tabla-paises>
    </div>


    <div class="col-md-8 order-md-1">
      <form class="needs-validation" [formGroup]="formGroup" (ngSubmit)="altaChofer()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="dni">dni</label>
            <input type="text" class="form-control" id="dni" formControlName="dni" maxLength="8" minLenght="8">
            <small class="invalid text-danger warningForm" *ngIf="formGroup.controls['dni'].errors?.['required'] 
            && formGroup.controls['dni'].touched">El dni es requerido</small>
          <small class="invalid text-danger warningForm" *ngIf="formGroup.controls['dni'].errors?.['pattern'] 
           ">Solo numeros</small>
          
          <small class="text-danger warningForm" *ngIf="formGroup.controls['dni'].errors?.['maxLength']" >
            Debe ser 8
          </small>
          <small class="text-danger warningForm" *ngIf="formGroup.controls['dni'].errors?.['minLenght']" >
            Debe ser min8
          </small>
        </div>
        
          
          <div class="col-md-6 mb-3">
            <label for="firstName">nombre</label>
            <input type="text" class="form-control" id="firstName" formControlName="nombre">
            <small class="invalid text-danger warningForm" *ngIf="formGroup.controls['nombre'].errors?.['required'] 
            && formGroup.controls['nombre'].touched">El nombre es requerido</small>
            <small class="invalid text-danger warningForm" *ngIf="formGroup.controls['nombre'].errors?.['pattern'] ">solo letras</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="edad">edad</label>
          <input type="number" class="form-control" id="edad" formControlName="edad" min="18" max="50">
          <small class="invalid text-danger warningForm" *ngIf="formGroup.controls['edad'].errors?.['required'] 
          && formGroup.controls['edad'].touched">el edad es requerida</small>
          <small class="text-danger warningForm" *ngIf="formGroup.controls['edad'].errors?.['min']" >
              debe ser mayor a 18
          </small>
          <small class="text-danger warningForm" *ngIf="formGroup.controls['edad'].errors?.['max']" >
              debe ser menor a 50
          </small>  
      
      </div>

    
      <div class="mb-3">
        <label for="nroLicencia">nroLicencia</label>
        <input type="text" class="form-control" id="nroLicencia" formControlName="nroLicencia" minlength="7">
        <small class="invalid text-danger warningForm" *ngIf="formGroup.controls['nroLicencia'].errors?.['required'] 
        && formGroup.controls['nroLicencia'].touched">El nro de Licencia es requerido</small>
        <small class="text-danger warningForm" *ngIf="formGroup.controls['nroLicencia'].errors?.['minlength']" >
          debe ser minimo 7
        </small>
      <small class="invalid text-danger warningForm" *ngIf="formGroup.controls['nroLicencia'].errors?.['pattern'] 
       ">Solo numeros</small>
      </div>
      

        <!-- <div class="form-check form-switch mt-3"> -->
        <div class="form-check  mt-3">
          <input class="form-check-input" type="checkbox" id="licenciaProfesional" formControlName="licenciaProfesional"  />
          <label class="form-check-label" for="licenciaProfesional"> Tiene Licencia Profesional?</label>
        </div>

          <div class="mb-3">
            <label for="country">Pais</label>
            <input type="text" readonly class="form-control" id="address2" formControlName="pais">
          </div>
        <hr class="mb-4">
        <button class="btn btn-primary login-button" type="submit" [disabled]="formGroup.invalid">Crear Chofer</button>
      </form>
    </div>
  </div>

