nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7c7698;
  padding: 10px;
  height: 80px;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 30px;

}

.left img {
  height: 50px;
}

img{
  margin-right: 8px;
}

.right {
  display: flex;
  gap: 10px;
  font-size: 25px;

}

.right button {
  background-color: white;
  border: none;
  color: #7c7698;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  min-width: 125px;
  cursor: pointer;
}

.right button:hover {
  background-color: lightgray;
}

.right li:hover {
  background-color: #b2acbd ;
 
}

strong{
  text-justify: auto;
  text-align: center;
  background-color: transparent;
  text-decoration: underline;
  color: white;
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 25px;
}



@media (max-width: 1400px) {
  strong { display: none;}
}